---
---
.nav_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.site_nav {
  background-color: black;
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.nav_list li {
  text-align: center;
}
.current_item span, .nav_item a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}
li a:hover {
  background-color: SkyBlue;
}
.current_item {
  background-color: MidnightBlue;
}
.search {
  float: right;
  display: none;
}
@media only screen and (max-width: 767px) {
  .nav_item, .current_item {
    font: normal 26px Verdana, Arial, sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  .nav_item, .current_item {
    float: left;
    overflow: hidden;
  }
  .site_nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .nav_list {
    margin: 0;
    padding: 0;
  }
}
@import "dropdown_menu.scss";
