#footer {
  width: 100%;
  bottom: 0;
}
#footer_spacer {
  height: 50px;
}
@media only screen and (min-width: 768px) {
  #advertisement {
    float: right;
  }
  #copyright {
    float: left;
  }
  #footer {
    position: fixed;
  }
}
@media only screen and (max-width: 767px) {
  #footer {
    font: normal 12px Verdana, Arial, sans-serif;
  }
}
