body {
  font: normal 18px Verdana, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.contrast {
  background-color: black;
  color: white;
  list-style-type: none;
}
.contrast a {
  text-decoration: none;
  color: white;
}
