#header_spacer {
  width: 100%;
  display: block;
  height: 100px;
  margin: 0 0 20px 0;
  padding: 0;
}
#header {
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 1000;
  background-color: black;
  position: fixed;
  overflow: visible;
  margin: 0;
}
#header a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
}
#header input {
  padding: 0;
  margin: 0 20px 0;
  font: inherit;
}
#header h1 {
  padding: 0;
  margin: 0 20px 0;
  clear: both;
  color: white;
}
#header a:hover {
  background-color: SkyBlue;
}
#close_full_post, #clear_search_results, #search, #close_tags {
  display: none;
}
#close_full_post, #clear_search_results, #close_tags {
  animation-duration: 1s;
  animation-name: fadein;
}
@keyframes fadein {
  from {
    opacity: .2;
    color: red;
  }

  to {
    opacity: 1;
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #search {
    max-width: 90%;
    text-align: center;
  }
  #header h1 {
    display: none;
  }
  #previous_page, #next_page {
    display: none;
  }
  .page_turner {
    display: none;
  }
  #header nav {
    display: flex;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 768px) {
  #header {
    flex-direction: column;
  }
  #header nav {
    width: 100%;
    display: flex;
  }
  #previous_page {
    float: left;
    top: 0;
    position: sticky;
    text-decoration: none;
  }
  #next_page {
    float: right;
    top: 0;
    position: sticky;
    text-decoration: none;
  }
  #nav_spacer {
    margin-left: auto;
  }
  .page_turner {
    border-radius: 50%;
    background-color: black;
    height: 30px;
    width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
