#header {
  padding: 0;
  margin: 0;
  z-index: 1000;
  background-color: black;
}
#header a {
  text-decoration: none;
  color: white;
  padding: 0 20px 0;
  margin: 5px 0px;
  text-align: center;
}
#header input {
  padding: 0;
  margin: 0 20px 0;
  font: inherit;
}
#header h1 {
  padding: 0;
  margin: 0 20px 0;
  clear: both;
  color: white;
}
#header a:hover {
  background-color: SkyBlue;
}
#close_full_post, #clear_search_results, #search {
  display: none;
}
#close_full_post, #clear_search_results {
  animation-duration: 3s;
  animation-name: fadein;
}
@keyframes fadein {
  from {
    opacity: .2;
    color: red;
  }

  to {
    opacity: 1;
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  #header {
    font: normal 28px Verdana, Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  #search {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
  }
  #header h1 {
    display: none;
  }
  #header a {
    text-align: center;
    float: left;
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  .page_item, #search {
    float: right;
  }
  .nav_item {
    float: left;
  }
  #close_full_post, #clear_search_results {
    float: right;
  }
}
