#all_posts_container {
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}
.single_post_container {
  display: none;
  position: relative;
  animation-duration: 2s;
  animation-name: popin;
  margin-left: 10px;
  margin-right: 10px;
}
@keyframes popin {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}
.single_post_container a {
  color: black;
  text-decoration: none;
}
.bg_post_image {
  border-radius: 5px;
  background-repeat: no-repeat;
  float: left;
}
.over_text {
  display: none;
}
@media only screen and (max-width: 767px) {
  .single_post_container {
    flex: 0 1 150px;
  }
  .single_post_container h2 {
    font-size: 100%;
  }
  .bg_post_image {
    width: 150px;
    height: 150px;
    background-size: contain;
  }
}
@media only screen and (min-width: 768px) {
  .single_post_container:hover .over_text {
    display: inline;
    opacity: 1;
  }
  .single_post_container:hover .bg_post_image {
    opacity: .2
  }
  .single_post_container {
    flex: 0 1 300px;
  }
  .bg_post_image {
    width: 300px;
    height: 300px;
    opacity: 1;
    transition: opacity 1s ease;
    background-size: cover;
  }
  .over_text {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    opacity: .2;
    transition: opacity 1s ease;
  }
}
