#full_post {
  width: 90%;
  margin: auto;
  padding: 0;
}
.post_frontmatter {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
#post_author {
  display: block;
  order: 3;
  color: DimGray;
}
#post_date {
  display: block;
  order: 3;
  color: SlateGray;
}
#full_post article {
  padding: 0;
  margin: auto;
}
#tags_for_post img {
  object-fit: contain;
}
@media only screen and (min-width: 768px) {
  .post_frontmatter h1 {
    font-weight: bold;
    font-size: 300%;
  }
  #tags_for_post {
    float: right;
    position: sticky;
    max-width: 25%;
    top: 40px;
    margin-top: 30px;
    text-align: right;
  }
  #tags_for_post b {
    display: block;
  }
  #full_post article {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  #tags_for_post {
    margin: auto;
    max-width: 50%;
  }
  #tags_for_post img {
    width: 100%;
  }
  #tags_for_post div {
    display: none;
  }
}
