.dropdown {
  position: relative;
  margin: 5px 0px;
}
.dropdown_content {
  display: none;
  background-color: SlateGray;
  z-index: 1001;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.dropdown:hover .dropdown_content,
.dropdown:focus-within .dropdown_content {
  display: block;
}
.dropdown_content a {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
}
.dropdown_more {
  background-color: DarkSlateGray;
}
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
