#banner {
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 1000;
  background-color: black;
  overflow: visible;
  margin: 0;
  display: flex;
}
#header_nav {
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 1000;
  background-color: black;
  position: sticky;
  overflow: visible;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
}
#site_menu {
  display: flex;
  overflow: visible;
  flex: auto;
}
#header_nav a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  display: inline-block;
}
#header_nav input {
  padding: 0;
  margin: 0 20px 0;
  font: inherit;
}
#banner h1 {
  padding: 0;
  margin: 0 20px 0;
  clear: both;
  color: white;
}
#header_nav a:hover {
  background-color: SkyBlue;
}
#banner img {
  max-height: 40px;
  object-fit: contain;
  order: 2;
  margin-left: auto;
  padding: 0px 20px;
}
#close_full_post, #clear_search_results, #search, #close_tags {
  display: none;
}
#close_full_post, #clear_search_results, #close_tags {
  animation-duration: 1s;
  animation-name: fadein;
}
@keyframes fadein {
  from {
    opacity: .2;
    color: red;
  }

  to {
    opacity: 1;
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  #header_nav {
    justify-content: space-evenly;
    align-items: center;
  }
  #search {
    max-width: 90%;
    text-align: center;
  }
  #banner {
    flex-flow: row nowrap;
  }
  #banner h1 {
    font-size: 100%;
  }
  #previous_page, #next_page {
    display: none;
  }
  .page_turner {
    display: none;
  }
  #menu_bars {
    fill: white;
  }
  #home_menu {
    width: 100%;
    display: flex;
  }
  #menu_bars_link {
    margin-left: auto;
    padding: 5px 20px;
  }
  #site_menu {
    flex-flow: column wrap;
    margin-right: auto;
    display: none;
  }
  #header_nav {
    flex-flow: column wrap;
  }
}
@media only screen and (min-width: 768px) {
  #previous_page, #next_page {
    top: 50%;
    position: fixed;
    text-decoration: none;
  }
  #previous_page {
    left: 0;
  }
  #next_page {
    right: 0;
  }
  #nav_spacer {
    margin-left: auto;
  }
  .page_turner {
    border-radius: 50%;
    background-color: black;
    height: 30px;
    width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #header_nav svg, #menu_bars_link {
    display: none;
  }
  #header_nav {
    flex-flow: row nowrap;
  }
}
