{% capture styles %}
{% include scss/navigation.scss %}
{% endcapture %}
<style>
{{ styles | scssify }}
</style>
<header id="banner">
  <h1 id="headline">{{ site.title }} -- {{ site.description }}</h1>
  <img alt="Site Logo" src="{{ site.logo | relative_url }}">
</header>
<nav id="header_nav">
  <div id="home_menu">
    <a href="{{ '/' | relative_url }}">🏠 Home</a>
    <a id="menu_bars_link" href="#" onclick="toggleSiteMenu();return false">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" id="menu_bars" />
      </svg>
    </a>
  </div>

  <a href="#" id="close_full_post" onclick="closeFullPost();return false">❌ Close Displayed Content</a>
</nav>
