<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for {{ site.title }}" href="{{ 'feed.xml' | relative_url }}">
    <link rel="shortcut icon" type="image/icon" href="{{ site.favicon | relative_url }}"/>
    <style>{% include css/main.css %}</style>
    {%- if page.title %}
    <title>{{ page.title | default: site.title }} | {{ page.description | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: page.excerpt | strip_html | truncatewords: 15 }}">
    <meta property="og:description" content="{{ page.description | default: page.excerpt | strip_html | truncatewords: 15 }}">
    <link rel="canonical" href="{{ page.permalink | absolute_url }}">
    <meta property="og:url" content="{{ page.permalink | absolute_url }}">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date }}">
    {%- else %}
    <title>{{ site.title }} | {{ site.description | default: A Blog }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    <link rel="canonical" href="{{ '/' | absolute_url }}">
    <meta property="og:url" content="{{ '/' | absolute_url }}">
    {%- endif %}
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="author" content="{{ site.author }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{ page.image | default: site.logo | absolute_url }}">
    <meta name="keywords" content="{{ page.keywords | default: page.tags | default: 'blog' | join: ',' }}" />
  </head>
