<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="{{ "/css/navigation.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/post_display.css" | relative_url }}">
    <script src="{{ "/scripts/lunr.min.js" | relative_url }}"></script>
    <script src="{{ "/scripts/navbar.js" | relative_url }}"></script> <!-- Contains lunr.js search -->
    <script src="{{ "/scripts/home.js" | relative_url }}"></script>
  </head>
  <body>
    <nav class="site_nav" role="navigation">
      <ul class="nav_list">
        <!-- Site nav from _config.yml -->
        {%- for nav_target in site.navigation %}
        {%- if page.url == nav_target.url -%}
        <li class="current_item"><span title="Current Page">{{ nav_target.text }}</span></li>
        {%- else -%}
        <li class="nav_item"><a href="{{ nav_target.url | relative_url }}">{{ nav_target.text }}</a></li>
        {%- endif -%}
        {% endfor %}

        <!-- lunr.js search -->
        <form>
          <input id="search" class="search" type="search" name="lunr_search" placeholder="lunr.js site search">
        </form>
      </ul>
    </nav>

    <div class="all_posts_container">
      {%- for post in site.posts %}
      <div id="{{ post.permalink | sluggify }}" class="single_post_container">
        <a href={{ post.permalink | relative_url }} class="link_no_format">
          <div class="opacity_workaround">
            <div class="bg_post_image" style="background: url({{ post.image | relative_url }});">
            </div>
            <div class="over_text">
              <span><b>Tags:</b> {{post.tags | join: ', ' | default: "None"}}</span><br/>
              <span><b>Categories:</b> {{post.categories | join: ', ' | default: "None"}}</span><br/>
              <span><b>Author:</b> {{post.author | default: "None"}}</span><br/>
              <span><b>Date:</b> {{post.date | date: "%B %d, %Y" | default: "None"}}</span>
              <p>{{- post | strip_html | truncatewords: 40 | strip -}} <em> Click for More</em></p>
            </div>
          </div>
          <h2>{{- post.title -}}</h2>
        </a>
      </div>
      {%- endfor %}
    </div>
  </body>
<html>
