<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="{{ "/css/navigation.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/post_display.css" | relative_url }}">
    <script src="{{ "/scripts/lunr.min.js" | relative_url }}"></script>
    <script src="{{ "/scripts/navigation.js" | relative_url }}"></script>
    <script>
      {%- capture site_categories -%}
        {%- for category in site.categories -%}
          '{{- category | first -}}'
          {%- unless forloop.last -%}
            ,
          {%- endunless -%}
        {%- endfor -%}
      {%- endcapture -%}

      {%- capture site_tags -%}
        {%- for tag in site.tags -%}
          '{{- tag | first -}}'
          {%- unless forloop.last -%}
            ,
          {%- endunless -%}
        {%- endfor -%}
      {%- endcapture %}
      var categories = [{{ site_categories | default: "None" }}];
      var tags = [{{ site_tags | default: "None" }}]
    </script>
    {% seo %}
  </head>
  <body>
    <nav class="site_nav" role="navigation">
      <ul class="nav_list">
        <!-- Site nav from _config.yml -->
        {%- for nav_target in site.navigation -%}
        {%- if page.url == nav_target.url %}
        <li class="current_item">
          <a title="Home Page" href="#" onclick='goHome();return false' class="link_no_format">
            {{ nav_target.text }}
          </a>
        </li>
        {%- else %}
        <li class="nav_item">
          <a href="#" onclick='writeFullPost("{{ nav_target.url | relative_url }}");return false' class="link_no_format">
            {{ nav_target.text }}
          </a>
        </li>
        {%- endif -%}
        {%- endfor %}

        <!-- lunr.js search -->
        <li class="search_item">
          <form>
            <input onkeydown="if(event.keyCode == 13){event.preventDefault(); return false;}" id="search" class="search" type="search" name="lunr_search" placeholder="lunr.js site search">
          </form>
        </li>

        <li class="page_item">
          <a id="next_page" href="#" title="Next Posts" onclick="nextPage();return false">Next Posts</a>
        </li>
        <li class="page_item">
          <a id="previous_page" href="#" title="Previous Posts" onclick="previousPage();return false">Previous Posts</a>
        </li>
      </ul>
      <a href="#" id="close_full_post" class="close_full_post" onclick="closeFullPost();return false">Close Displayed Content</a>
      <a href="#" id="clear_search_results" class="clear_search_results" onclick="clearSearchResults();return false">Clear Search Results</a>
    </nav>

    <div id="all_posts_container" class="all_posts_container">
      {%- for post in site.posts %}
      <div id="{{ post.permalink | sluggify }}" class="single_post_container" data-title="{{ post.title }}" data-categories="{{post.categories | join: ',' | default: 'None'}}" data-tags="{{post.tags | join: ',' | default: 'None'}}">
        <a href="#" onclick='writeFullPost("{{ post.permalink | relative_url }}");return false' class="link_no_format">
          <div class="opacity_workaround">
            <div class="bg_post_image" style="background: url({{ post.image | relative_url }});">
            </div>
            <div class="over_text">
              <span><b>Author:</b> {{post.author | default: 'None'}}</span><br>
              <span><b>Date:</b> {{post.date | date: "%B %d, %Y" | default: 'None'}}</span><br>
              <span><b>Categories:</b> {{post.categories | join: ', ' | default: 'None'}}</span><br>
              <span><b>Tags:</b> {{post.tags | join: ', ' | default: 'None'}}</span>
              <p>{{- post | strip_html | truncatewords: 40 | strip -}} <em> Click for More</em></p>
            </div>
          </div>
          <h2>{{- post.title -}}</h2>
        </a>
      </div>
      {%- endfor %}
      <div id="page_number" class="page_number">
      </div>
    </div>

    <div class="full_post" id="full_post"></div>

  </body>
</html>
